body {
    background: #383e4b;
}
/* preloader from http://cssload.net/ */
#bowlG {
    position: relative;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    top: 35%;
}
#bowl_ringG {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 6px solid #9C9C9C;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    -ms-border-radius: 64px;
    -o-border-radius: 64px;
    border-radius: 64px;
}
.ball_holderG {
    position: absolute;
    width: 17px;
    height: 64px;
    left: 23px;
    top: 0px;
    -moz-animation-name: ball_moveG;
    -moz-animation-duration: 1.6s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: ball_moveG;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-name: ball_moveG;
    -ms-animation-duration: 1.6s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: ball_moveG;
    -o-animation-duration: 1.6s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: ball_moveG;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.ballG {
    position: absolute;
    left: 0px;
    top: -15px;
    width: 26px;
    height: 26px;
    background: #78D67B;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    border-radius: 21px;
}
@-moz-keyframes ball_moveG {
    0% {
        -moz-transform: rotate(360deg)
    }
    100% {
        -moz-transform: rotate(0deg)
    }
}
@-webkit-keyframes ball_moveG {
    0% {
        -webkit-transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(0deg)
    }
}
@-ms-keyframes ball_moveG {
    0% {
        -ms-transform: rotate(360deg)
    }
    100% {
        -ms-transform: rotate(0deg)
    }
}
@-o-keyframes ball_moveG {
    0% {
        -o-transform: rotate(360deg)
    }
    100% {
        -o-transform: rotate(0deg)
    }
}
@keyframes ball_moveG {
    0% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(0deg)
    }
}
.content {
    border: none;
    margin: 0;
    padding: 30px;
    position: relative;
    width: auto !important;
}
.md-button {
    padding: 10px 20px 10px;
}
.white-background {
    background-color: #fff;
}
.error-background {
    background-color: rgb(244, 67, 54);
}
.wrap {
    word-wrap: break-word;
}
